#linksTitle{
    margin-top: 3%;
    text-align: center;
}

.links {
    text-align: center; 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    
}

.logos {
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
    width: 70px;
}


#actualFooter {
    background-color: #6a1b9a;
    color: #fff;
    text-align: center;
    padding: 0.1rem;
}