<footer>
    <h2 id="linksTitle">My Links</h2>
    <section class="links">
      <a href="https://github.com/SenatorDingo" target="_blank" rel="noopener noreferrer">
        <img class = "logos" src="assets/github-mark.png" alt="GitHub Logo">
      </a>

      <a href="https://www.linkedin.com/in/ariyappillil" target="_blank" rel="noopener noreferrer">
        <img class = "logos" src = "assets/LI-In-Bug.png" alt="LinkedIn Logo">
      </a>
    </section>

    <section id="actualFooter">
    <p>&copy; 2024 Abhay. All rights reserved.</p>
    </section>
  </footer>