<body>
    <header>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/resume">Resume</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
        <br>
        <br>
        <section class="contactCard">
            <h2>Reach out to me on LinkedIn</h2>
            <a href="https://www.linkedin.com/in/ariyappillil" target="_blank" rel="noopener noreferrer">
                <img class = "logos" src = "assets/LI-In-Bug.png" alt="LinkedIn Logo">

            </a>
        </section>

    </main>
    <footer>
        <section id="actualFooter">
            <p>&copy; 2024 Abhay. All rights reserved.</p>
        </section>
    </footer>
</body>
