<body>
    <header>
      <nav>
        <!--<div class="logo">
          <img src="#" alt="Logo">
        </div> -->
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/resume">Resume</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
        <br>
        <br>
        <section class="contactCard">
            <h2>Reach out to me on LinkedIn</h2>
            <a href="https://www.linkedin.com/in/ariyappillil" target="_blank" rel="noopener noreferrer">
                <img class = "logos" src = "assets/LI-In-Bug.png" alt="LinkedIn Logo">
            </a>
        </section>

    </main>

    <footer>
  
  
        <h2 id="linksTitle">My Links</h2>
        <section class="links">
          <a href="https://github.com/SenatorDingo" target="_blank" rel="noopener noreferrer">
            <img class = "logos" src="assets/github-mark.png" alt="GitHub Logo">
          </a>
    
          <a href="https://www.linkedin.com/in/ariyappillil" target="_blank" rel="noopener noreferrer">
            <img class = "logos" src = "assets/LI-In-Bug.png" alt="LinkedIn Logo">
          </a>
        </section>
    
        <section id="actualFooter">
        <p>&copy; 2023 Abhay. All rights reserved.</p>
        </section>
    
      </footer>
</body>
