<body>
    <header>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/resume">Resume</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
      <section class="intro">
        <h1>Welcome to My Personal Website</h1>
      </section>
  
      <section class="about-me">
        <div class="about-me-content">
        
            <div class="about-me-image">
              <img src="assets/profile-image.jpeg" alt="My Image">
            </div>
            <div class="about-me-description">
              <p>
                Hi, I'm Abhay, a software developer, and this website is my digital playground. I am currently doing year 3 of a Software Engineering
                course at the University of Ottawa. I am also an avid 4x game player so if you play Civ 6 or know anyone who does, be sure to let me know. 
              </p>
            </div>
          
        </div>
      </section>    
    </main>
    <app-footer></app-footer>
  </body>
