<body>
    <header>
        <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/resume">Resume</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </nav>
    </header>
        <main>
        <section class="resume">
            <h1>My Resume</h1>
            <iframe src="assets/ResumeB.pdf" width="100%" height="800px" frameborder="0"></iframe>
        </section>
        </main>

    <footer>
        <p>&copy; 2023 Abhay. All rights reserved.</p>
        </footer>
</body>

