@media (max-width: 1024px){
    body, h1, h2, h3, p, ul, li {
        margin: 0;
        padding: 0;
    }


    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        background-color: #6a1b9a;
        color: #fff;
        padding: 6%;
        align-items: center;

    }


    nav ul {
        justify-content: flex-end;
        list-style: none;
        display: flex;
        align-items: center;
    }

    nav ul li {
        margin-right: 10%;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
    }

    main {
        flex: 1;
        padding: 2rem;
        height: 100%;
        width: 100%
    }

    .iframe-fullscreen {
        width: 100%;
        height: 100vh;
        border: none; 
        margin: 0;
        padding: 0;
        }

    footer {
        background-color: #6a1b9a;
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
}

@media (min-width: 1024px){
    body, h1, h2, h3, p, ul, li {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        background-color: #6a1b9a;
        color: #fff;
        padding: 1rem;
    }

    nav ul {
        justify-content: flex-end;
        list-style: none;
        display: flex;
    }

    nav ul li {
        margin-right: 5rem;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
    }

    main {
        flex: 1;
    }

    .iframe-fullscreen {
        width: 100%;
        height: 100vh; 
        border: none; 
        margin: 0;
        padding: 0;
        }

    footer {
        background-color: #6a1b9a;
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
}