<body>
    <header>
        <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/resume">Resume</a></li>
            <li><a routerLink="/portfolio">Portfolio</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
        </nav>
    </header>
        <main>
            <section class="resume">
                <h1>My Resume</h1>
                <iframe src="assets/ResumeB.pdf" class="iframe-fullscreen" frameborder="0"></iframe>
            </section>
        </main>

    <footer>
        <p>&copy; 2024 Abhay. All rights reserved.</p>
        </footer>
</body>

